#header_graphic {
  display: flex;
  justify-content: center;
}

body {
  background-color: bisque;
  background-image: url("../assets/woodBackground.png");
  background-repeat: repeat-y;
}

/* Primary Container */
#main__contents {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Secondary Containers */
.metal__back {
  border-image-slice: 15 15 15 15;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-repeat: round round;
  border-image-source: url("../assets/metalBorder.png");
  border-style: solid;
  background-color: #595959;
  background-clip: border-box;
  padding: 1em;
  margin: 1em;
  filter: drop-shadow(6px 10px 2px rgb(9, 9, 9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metal__back:nth-child(2) {
  flex-grow: 1;
}

.metal__back:nth-child(odd) {
  flex: 0 0 20%;
}
/* Tertiary Containers */
.container__creation,
.container__leaderboard {
  border-image-slice: 36 36 36 36;
  border-image-width: 36px 36px 36px 36px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-repeat: round round;
  border-image-source: url("../assets/scrollBorder.png");
  border-style: solid;
  background-color: #bbaf7e;
  background-size: cover;
  background-clip: content-box;
  padding: 1em;
  filter: drop-shadow(6px 10px 2px rgb(37, 37, 37));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createPlayerForm {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.createTeamForm {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.container__game {
  border-image-slice: 36 36 36 36;
  border-image-width: 36px 36px 36px 36px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-repeat: round round;
  border-image-source: url("../assets/scrollBorder.png");
  border-style: solid;
  background-color: #bbaf7e;
  background-size: cover;
  background-clip: content-box;
  padding: 1em;
  filter: drop-shadow(6px 10px 2px rgb(37, 37, 37));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
}

.teamSelect__state {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.vsImage {
  width: 90px;
  height: auto;
  margin: 1em;
}

.container__leaderboard {
  flex: 0 0 40%;
}

.aside__header {
  display: flex;
  justify-content: center;
}

.player__button {
  padding: 2em;
}

button {
  margin: 0.75em;
}
