@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

/* Global Scope */

ol {
  padding-inline-start: 18px;
  font-size: 10pt;
}

h2 {
  size: 20em;
}

body {
  font-family: "Old Standard TT", serif;
  /* font-family: 'Sedgwick Ave Display', cursive; */
  background-color: bisque;
  background-image: url("../assets/woodBackground.png");
  background-size: 2600px 600px;
  background-repeat: repeat;
}

button {
  margin: 0.75em;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

select {
  padding: 8px;
  margin: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

input {
  padding: 8px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

#header_graphic {
  display: flex;
  justify-content: center;
}

/* Primary Container */
#main__contents {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Secondary Containers */
.metal__back {
  border-image-slice: 15 15 15 15;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-repeat: round round;
  border-image-source: url("../assets/metalBorder.png");
  border-style: solid;
  background-color: #595959;
  background-clip: border-box;
  padding: 1em;
  margin: 1em;
  filter: drop-shadow(6px 10px 2px rgb(9, 9, 9));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metal__back:nth-child(2) {
  flex-grow: 1;
}

.metal__back:nth-child(odd) {
  flex: 0 0 15%;
}
/* Tertiary Containers */
.container__creation,
.container__leaderboard {
  border-image-slice: 36 36 36 36;
  border-image-width: 36px 36px 36px 36px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-repeat: round round;
  border-image-source: url("../assets/scrollBorder.png");
  border-style: solid;
  background-color: #bbaf7e;
  background-size: cover;
  background-clip: content-box;
  padding: 1em;
  filter: drop-shadow(6px 10px 2px rgb(37, 37, 37));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createPlayerForm {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.createTeamForm {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}

.container__game {
  border-image-slice: 36 36 36 36;
  border-image-width: 36px 36px 36px 36px;
  border-image-outset: 12px 12px 12px 12px;
  border-image-repeat: round round;
  border-image-source: url("../assets/scrollBorder.png");
  border-style: solid;
  background-color: #bbaf7e;
  background-size: cover;
  background-clip: content-box;
  padding: 1em;
  filter: drop-shadow(6px 10px 2px rgb(37, 37, 37));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
}

.teamSelect__state {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.round1__state {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.team__rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #756d4f;
  padding: 1em;
  border-radius: 10px 20px 20px 0px;
}

.vsImage {
  width: 90px;
  height: auto;
  margin: 1em;
}

.container__leaderboard {
  flex: 0 0 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.aside__header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.player__button {
  padding: 2em;
}

.round__title {
  margin: 1em;
}
