#header_graphic {
  display: flex;
  justify-content: center;
}

body {
  background-color: bisque;
}

#main__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__creation,
.container__game,
.container__leaderboard {
  border-image-slice: 15 15 15 15;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url("../assets/borderTest.png");
  border-style: solid;
}

.container__creation {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
}

.creation--player {
  flex: 0 0 50%;
  border: 2px solid blue;
}

.creation--team {
  flex: 0 0 50%;
  border: 2px solid green;
}

.container__game {
  flex: 0 0 55%;
}

.container__leaderboard {
  flex: 0 0 15%;
}

.aside__header {
  display: flex;
  justify-content: center;
}
